* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 236, 223);
    font-family: Inconsolata, sans-serif;
}

.Card {
    background-color: bisque;
    width: 450px;
    margin: auto;
    margin-top: 200px;
    border-radius: 40px;
}

.Card img {
    width: 450px;
    padding: 30px 30px 15px 30px;
}

.Card img.nftCardImage {
    border-radius: 50px;
}

.cardTitle {
    color: rgb(68, 63, 57);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.Card p {
    color: rgb(68, 63, 57);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}

.priceTime {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.price img {
    width: 30px;
    padding: 0;
    margin: 0;
}

.priceText {
    margin-left: 10px;
    font-weight: 600;
    color: rgb(68, 63, 57);
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

.time img {
    width: 23px;
    padding: 0;
    margin: 0;
}

.timeText {
    margin-left: 10px;
    font-weight: 600;
    color: rgb(68, 63, 57);
}